@model RoundTable.Models.Story

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="card col-md-12 col-lg-8">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Slug)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Slug)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.StoryType.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.StoryType.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NationalOutlet.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NationalOutlet.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Status.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Status.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Category.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Category.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.StoryURl)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.StoryURl)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Summary)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Summary)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>

        </div>
    </div>
</div>


